<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://plugthink.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a08dcf63-156b-45c9-90b5-f8073ec0afc1/resourceGroups/plugthink/providers/Microsoft.Web/sites/plugthink</ResourceId>
    <UserName>$plugthink</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://plugthink.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>